.sub-tabla{
    min-width: 200px !important;
}
.bordes{
    border: solid 3px black !important;
}

.bg-blue{
    background-color: rgba(0, 83, 173, 0.4) !important;
}
.bg-blue-dark{
    background-color: rgb(0, 51, 107) !important;
}

tr:hover{
    background-color: #00336b !important;
    color: yellow !important;
    /*font-size: 18px;*/
}

.body-image{
    background-image: url("../images/fondo.jpg");
}
